// Typography
$font-family-sans-serif: 'Nunito Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-size-base: 1rem;
$line-height-base: 1.6;

// Colors
$blue: #006ddf;
$navy: #003982;
$indigo: $navy;
$purple: #7413dc;
$pink: #ffb4e5;
$red: #e22e12;
$orange: #f6993f;
$yellow: #ffe627;
$green: #23a950;
$teal: #00a794;
$cyan: #6cb2eb;

$body-bg: lighten($navy, 2%);
$highlight: lighten($navy, 2%);

$theme-colors: (
	"primary" : $highlight,
	"success" : $green,
	"danger"  : $red,
	"warning" : $yellow,
	"info"    : $teal
);

$navbar-light-color: $highlight;
$navbar-light-hover-color: $highlight;
$navbar-light-active-color: $highlight;

$link-hover-color: $highlight;
$dropdown-link-color: $highlight;
$dropdown-link-hover-color: $highlight;
