// Typography
$font-family-sans-serif: 'Nunito Sans', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

// Colors
$blue: #006ddf;
$navy: #003982;
$indigo: $navy;
$purple: #7413dc;
$pink: #ffb4e5;
$red: #e22e12;
$orange: #f6993f;
$yellow: #ffe627;
$green: #23a950;
$teal: #00a794;
$cyan: #6cb2eb;

$theme-colors: (
	"primary": $navy,
	"success": $green
);

$body-bg: lighten($navy, 2%);
$highlight: lighten($navy, 2%);
