@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700,900');
@import 'variables';
@import '~bootstrap/scss/bootstrap';

// ==== Global Styling ====
	// a, a:hover, a:visited, a.active {
	// 	color: $highlight;
	// }

	h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
		font-weight: 900;
		color: $highlight;
	}

	h1, .h1 {
		font-size: 2rem;
	}

	h2, .h2 {
		font-size: 1.6rem;
	}

	h3, .h3 {
		font-size: 1.4rem;
	}

	h4, .h4 {
		font-size: 1.2rem;
	}

	ul {
		list-style: square;
	}

	// == Space (adds top/bottom padding to content block)
	.space {
		padding-top: 1.1rem;
		padding-bottom: 1.2rem;
	}

	// == Pad (adds left/right padding for small screens/mobile) ==
	.pad {
		padding-left: 0;
		padding-right: 0;
	}

	@include media-breakpoint-down(lg) {
		.space {
			padding-top: 1.2rem;
			padding-bottom: 1.2rem;
		}

		.pad {
			padding-left: 0.9rem;
			padding-right: 0.9rem;
		}
	}

	// ==== Global Header ====
	header {
		border-bottom: $border-width solid $gray-300;
	 	border-top: (2*$border-width) solid $highlight;

		.ribbon {
			color: $gray-100;
			font-size: $font-size-sm;
			text-shadow: 1px 1px 1px $navy;

			.col {
				margin: 0.8rem 0;
			}

			p, a {
				color: $gray-100;
				margin: 0;
			}

			a, a:hover, a:visited {
				color: $gray-100;
				text-decoration: underline;
			}

		}

		.navbar {
			background: $white;
			padding: 0;

			.navbar-toggler {
				margin: 0.4rem 0;
				border: 0;
			}

			.navbar-nav {
				@include media-breakpoint-up(md) {
					align-items: center;
				}

				a.nav-link, a:hover.nav-link {
					display: inline-block;
					padding: 0.8rem 1rem;
					margin: 0.1rem 0.2rem 0 0;
					font-size: 1rem;
					font-weight: 700;
				}

				a.nav-link:hover {
					text-decoration: underline;
				}

				li.active a {
					text-decoration: underline;
				}

				@include media-breakpoint-up(md) {
					li.nav-item:first-of-type a {
						padding-left: 0;
					}

					li.active a {
						border-bottom: (2*$border-width) solid $highlight;
						margin-bottom: -($border-width);
						text-decoration: none;
					}

					li.active a:hover {
						margin-bottom: -($border-width);
					}
				}

				.navbar-avatar img {
					height: 36px;
					width: 36px;
					border-radius: 20px;
					margin-left: 1rem;
				}
			}

			.navbar-admin {
				font-size: 0.9rem;

				.dropdown-menu, a.nav-link, a:hover.nav-link {
					font-size: 0.9rem;
				}
			}
		}
	}

	footer {
		border-top: $border-width solid $gray-300;
		color: $gray-100;

		.row {
			align-items: center;
		}

		@include media-breakpoint-down(xs) {
			padding: 1rem;

			.col {
				padding-bottom: 1.4rem;
			}

			.col:last-of-type {
				padding-bottom: 0;
			}

			.sm-logo {
				text-align: left;
			}
		}

		@include media-breakpoint-up(md) {
			.sm-logo {
				text-align: right;
				padding: 1rem 0;

				a {
					display: block;
				}
			}
		}

		a, a:hover, a:visited {
			color: lighten($navy, 65%);
		}

		p {
			font-size: $font-size-sm;
		}

		p:last-of-type {
			margin-bottom: 0;
		}

		.ce-logo img {
			width: 250px;
			margin: 1.2rem 0;
		}

		.sm-logo {
			a:hover {
				text-decoration: none;
			}

			svg {
				height: 40px;
				width: 40px;
				fill: $gray-100;
				margin: 4px;
			}

			a:hover svg {
				fill: lighten($navy, 65%);
			}
		}
	}

	main {
		background: $gray-100;

		li {
			padding: 0.4rem 0 0 0;
		}

		// == Full Width Page Header Component ==
		.page-header {
			h1, h2 {
				color: $white;
				text-shadow: 1px 1px 1px $gray-800;
				margin: 0.4em 0;
			}

			.page-title {
				background: rgba(0, 0, 0, $header-overlay-opacity);
			}
		}

		@include media-breakpoint-up(xl) {
			.page-header.cover-vertical {
				.col {
					min-height: 60vh;
				}
			}

			.page-header.cover-horizontal {
				height: 50vh;
			}
		}

		@include media-breakpoint-between(lg, xl) {
			.page-header.cover-vertical {
				.col {
					min-height: 50vh;
				}
			}

			.page-header.cover-horizontal {
				height: 40vh;
			}
		}

		@include media-breakpoint-between(sm, lg) {
			.page-header.cover-vertical {
				.col {
					min-height: 40vh;
				}
			}

			.page-header.cover-horizontal {
				height: 30vh;
			}
		}

		@include media-breakpoint-down(sm) {
			.page-header.cover-vertical {
				.col {
					min-height: 30vh;
				}
			}

			.page-header.cover-horizontal {
				height: 30vh;
			}
		}

		.page-header.cover-horizontal {
			display: flex;
			justify-content: flex-end;
			flex-direction: column;
		}

		.page-header.cover-vertical {
			.col {
				display: flex;
				justify-content: center;
				flex-direction: column;
				background: rgba(0, 0, 0, $header-overlay-opacity);

				div {
					width: 100%;
				}

				p {
					color: $white;
					text-shadow: 1px 1px 1px $gray-800;
					padding: 0.8rem;
					margin: 0;
				}

				.headline {
					padding-top: 1.2rem;
				}

				.tagline {
					padding-bottom: 1.2rem;
					font-weight: 700;
				}
			}
		}

		// == Links Column Component ==
		.links {
			margin-top: 0.75rem;

			@include media-breakpoint-down(md) {
				ul {
					margin-bottom: 2rem;
				}
			}

			.title {
				padding-bottom: 0.5rem;
				margin-bottom: 0.5rem;
				border-bottom: $border-width solid $gray-200;
				text-align: center;
				color: $gray-800;
			}

			li {
				padding: 0.6rem 0 0 0;
			}
		}

		// == Page View Component ==
		.crumb {
			font-size: $font-size-sm;
			padding-top: 0.6rem;
			padding-bottom: 0.6rem;
			margin-bottom: 0.1rem;
			background-color: darken($gray-100, 2%);
			border-bottom: $border-width solid $gray-300;

			ol {
				padding: 0;
				margin: 0;
				background: 0;
			}

			li {
				padding: 0;
			}

			.actions {
				text-align: right;
			}
		}

		.page {
			.page-content {
				padding-bottom: 1rem;

				a {
					text-decoration: underline;
				}

				a.btn {
					text-decoration: none;
				}
			}

			.page-sidebar {
				.block {
					padding-bottom: 1rem;

					.title {
						font-size: $font-size-lg;
						font-weight: 700;
					}
				}

				.block:last-of-type {
					padding-bottom: 0;
				}

				.block-pages {
					.subpage {
						margin-left: 0.8rem;
					}

					.subsubpage {
						margin-left: 0.8rem;
					}
				}
			}

			@include media-breakpoint-down(md) {
				.page-sidebar {
					border-top: $border-width solid $gray-300;
					padding-top: 1rem;

					.col {
						padding-bottom: 0;
					}
				}
			}
		}

		// == Full Width Map Component ==
		.wide-map {
			position: relative;
			width: 100%;
			height: 500px;
			max-height: 80vh;

			#map {
				position: absolute;
				top: 0;
				border: 0;
				width: 100%;
				height: 100%;
				z-index: 1;
			}

			.map-overlay {
				z-index: 2;
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: flex-end;

				* {
					z-index: 2;
				}

				.map-title {
					background: rgba(0, 0, 0, $header-overlay-opacity);

					.col {
						padding-top: 0.5rem;
						padding-bottom: 0.5rem;
					}

					h1 {
						color: $white;
						text-shadow: 1px 1px 1px $gray-800;
						margin: 0;
					}

					.actions {
						text-align: right;
					}

					a.dropdown-toggle {
						color: $white;
					}
				}
			}
		}

		.wide-map.single-marker {
			height: 330px;
			max-height: 50vh;
		}

		// == Calendar Component ==
		.calendar {
			h1 {
				margin-bottom: 0;
			}

			iframe {
				width: 100%;
				max-width: 100vw;
				height: 80vh;
				border: 0;
			}
		}

		// == Unit Components ==
		.units {
			.page-sidebar {
				border: 0; // Because we have the special logo card at the top
			}
		}

		.units-dropdown {
			list-style: none;
		}

		.unit-card {
			margin-bottom: 10px;

			.unit-card-header {
				height: 180px;
				background: $gray-400;
				display: flex;
				justify-content: center;
				flex-direction: column;

				img {
					max-height: 135px;
				}

				.default-logo img {
					max-height: 100px;
				}
			}

			ul.unit-card-pages {
				font-size: 0.9rem;
				font-weight: 700;

				a {
					display: block;
				}
			}
		}

		.unit-logo-inline .unit-card-header {
			width: 128px;
			height: 128px;
			border-radius: 6px;

			img {
				margin: 1rem;
			}
		}

		// == Vertically Centered Content Block ==
		.content-center {
			display: flex;
			flex-direction: column;
			justify-content: center;
			min-height: 60vh;
		}

		// == Accordion Block ==
		.accordion .card-header {
			.btn, .btn-link {
				text-align: left;
				font-weight: 600;
			}
		}

	} // End main

	main.formview {
		border-top: (2*$border-width) solid $highlight;
		padding: 1rem;

		form label {
			font-weight: 700;
			color: $highlight;
		}

		form .alert ul {
			margin-bottom: 0;
		}
	}
