/*! CSS Source: https://github.com/CabotExplorers/website/blob/master/resources/scss/cabot.scss */
$primary-color: hsl(214, 100%, 25%);

@import "src/spectre";
@import "src/spectre-icons";
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700,900');

$dark-highlight-color: lighten($secondary-color, 20%);

// ==== Global Styling ====
body {
	background: $primary-color-light;
	font-family: 'Nunito Sans', $base-font-family;
}
a, a:hover, a:visited, a.active {
	color: $primary-color-light;
}

h1, h2, h3, h4 {
	font-weight: 900;
}

h1 .h1 {
	font-size: 1.9rem;
}

h2 .h2 {
	font-size: 1.6rem;
}

h3 .h3 {
	font-size: 1.4rem;
}

h4 .h4 {
	font-size: 1.1rem;
}

li {
	list-style: square inside;
}

.btn:hover {
	background: $primary-color-light;
	color: $light-color;
}

.btn-dark:hover {
	background: $secondary-color-light;
	color: $dark-color;
}

// ==== Global Header ====
header {
	background: $light-color;
	border-bottom: $border-color solid 1px;
	border-top: $primary-color-light solid 2px;

	.ribbon {
		background: $primary-color-light;
		color: $light-color;
		font-size: 0.7rem;
		padding: 6px 30px 10px 30px;
		text-shadow: 1px 1px 1px $primary-color-dark;

		p, a {
			color: $light-color;
			margin: 0;
		}

		button {
			margin: 0 20px 0 10px;
			vertical-align: baseline;
		}
	}

	.navbar {
		@media screen and (max-width: $size-sm) {
			// Navbar links for small screened devices (drop-down)
			.navbar-section {
				max-width: $size-sm;
				float: left;
				display: block;
				margin: 5px 0;
				overflow-y: hidden;

				a {
					display: block;
					padding: 15px 10px;
					font-weight: 700;
				}
			}

			.hidden {
				height: 0;
			}
		}

		.nav-toggle {
			display: inline-block;
			float: right;
			margin: 2px 15px 4px 15px;
			font-size: 1.4rem;
			line-height: 2.2rem;
		}

		@media screen and (min-width: $size-sm) {
			@media screen and (max-width: $size-lg) {
				// Add padding to all sizes where content will reach the viewport edges
				padding: 0 20px;
			}

			.nav-toggle {
				display: none;
			}

			// Full width navbar links
			a {
				display: inline-block;
				padding: 12px;
				margin: 2px 5px 2px 0;
				font-weight: 700;
			}

			a:first-of-type {
				padding-left: 0;
			}

			a:last-of-type {
				margin: 2px 0;
			}

			a.active {
				border-bottom: $primary-color-light solid 2px;
				margin-bottom: -1px;
				padding-bottom: 13px;
				color: $primary-color-light;
				text-decoration: none;
			}

			.navbar-section {
				display: block;
				flex: none;
			}
		}
	}
}

// ==== Global Footer ====
$footer-link-color: $dark-highlight-color;
footer {
	border-top: $gray-color-dark solid 1px;
	color: $light-color;
	padding: 30px 30px 10px 30px;
	font-size: 0.7rem;

	a, a:hover, a:visited {
		color: $footer-link-color;
	}

	p {
		width: 90%;
		margin: 0;
		padding: 8px 0;
	}

	.column, .columns {
		padding: 0 0 10px 0;
	}

	.ce-logo img {
		max-width: 220px;
		width: 90%;
		padding: 8px 0;
	}

	.sm-logo {
		a:hover {
			text-decoration: none;
		}

		svg {
			height: 36px;
			width: 36px;
			fill: $light-color;
			margin: 4px;
		}

		a:hover svg {
			fill: $footer-link-color;
		}
	}
}

// ==== Main Content ====
main {
	background: $gray-color-light;
	width: 100%;

	// == Space (adds top/bottom padding to content block)
	.space {
		padding-top: 20px;
		padding-bottom: 30px;
	}

	// == Pad (adds left/right padding for small screens/mobile) ==
	.pad {
		padding-left: 0;
		padding-right: 0;
	}

	@media screen and (max-width: $size-lg) {
		.space {
			padding-top: 20px;
			padding-bottom: 20px;
		}

		.pad {
			padding-left: 20px;
			padding-right: 20px;
		}
	}

	// == Page View Component ==
	.page {
		h1, h2, h3, h4 {
			color: $primary-color;
		}

		.page-sidebar {
			padding-left: 15px;

			h5 {
				font-weight: 700;
			}

			.column {
				padding-bottom: 15px;
			}

			.column:last-of-type {
				padding-bottom: 0;
			}
		}

		@media screen and (max-width: $size-lg) {
			.page-sidebar {
				padding-left: .4rem;
				padding-top: 20px;

				@media (min-width: $size-sm) {
					.column {
						padding-bottom: 0;
					}
				}
			}
		}
	}

	// == Full Width Page Header Component ==
	.page-header {
		h1, h2 {
			color: $light-color;
			text-shadow: 1px 1px 1px $dark-color;
			margin: 0.4em 0;
		}

		.page-title {
			background: rgba(0, 0, 0, 0.3);
		}
	}

	@media screen and (max-width: $size-xs) {
		.page-header.cover-vertical {
			.column {
				min-height: 30vh;
			}
		}

		.page-header.cover-horizontal {
			height: 30vh;
		}
	}

	@media screen and (max-width: $size-lg) {
		.page-header.cover-vertical {
			.column {
				min-height: 55vh;
			}
		}

		.page-header.cover-horizontal {
			height: 55vh;
		}
	}

	@media screen and (max-width: $size-lg) {
		.page-header.cover-vertical {
			.column {
				min-height: 40vh;
			}
		}

		.page-header.cover-horizontal {
			height: 30vh;
		}
	}

	.page-header.cover-horizontal {
		display: flex;
		justify-content: flex-end;
		flex-direction: column;
		height: 40vh;
	}

	.page-header.cover-vertical {
		.column {
			min-height: 40vh;
			padding: 10px 0;
			display: flex;
			justify-content: space-evenly;
			flex-direction: column;
			background: rgba(0, 0, 0, 0.3);

			div {
				width: 100%;
			}

			p, h4 {
				color: $light-color;
				text-shadow: 1px 1px 1px $dark-color;
				padding: 10px 30px;
				margin: 0;
			}

			.tagline {
				font-weight: 700;
				font-size: 0.85rem;
			}
		}
	}

	// == Links Column Component ==
	.links {
		h4 {
			font-weight: 700;
		 }

		li {
			margin-left: 8px;
			margin-top: 12px;
			list-style: square;
		}
	}

	// == Unit Map Component ==
	.units {
		iframe {
			border: 0;
			width: 100%;
			height: 600px;
			max-height: 90vh;
			margin: 0 0 20px 0;
		}

		@media screen and (min-width: $size-lg) {
			.units-list {
				padding-left: 15px;
			}
		}

		.card {
			margin-bottom: 10px;
		}

		.card-title {
			font-size: 1rem;
			font-weight: 600;
		}

		a:hover {
			text-decoration: none;
		}

		a:hover .card-title {
			text-decoration: underline;
		}

		.card-subtitle {
			color: $gray-color-dark;
		}

		.card-footer {
			text-align: right;
		}
	}

	// == Calendar Component ==
	.calendar {
		h2 {
			margin-bottom: 0;
		}

		iframe {
			width: 100%;
			max-width: 100vw;
			height: 80vh;
			border: 0;
		}
	}
}
