/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/psysh
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.sqlite
*.DS_Store
*.css.map
*.scssc
